@{

    ViewBag.NgApp = "customers";
    Layout = "~/Areas/User/Views/Shared/_MainBusinessLayoutApply.cshtml";
}

@section styles {

    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="@Url.Versioned("~/Areas/Beta/css/interaction.css")">
    <link rel="stylesheet" href="@Url.Versioned("~/Areas/Beta/css/business-interaction.css")">
    <link rel="stylesheet" href="@Url.Versioned("~/Areas/Beta/css/business-customers.css")">
}


@section prescripts {
    
    <script>
        var regitGlobal = regitGlobal || {};
        regitGlobal.ngApp = 'customers';
    </script>
    

    @RenderSection("prescripts", required: false)
}
@section initscripts {
    <script>
        angular.module('customers', ['myApp', 'users', 'social', 'interaction', 'businessInteraction']);
    </script>
    @RenderSection("initscripts", required: false)
}

@section scripts {

    <script src="@Url.Versioned("~/Areas/regitUI/js/modules/social.js")"></script>
    <script src="@Url.Versioned("~/Areas/regitUI/js/modules/interaction.js")"></script>
    <script src="@Url.Versioned("~/Areas/regitUI/js/modules/businessInteraction.js")"></script>
    <script src="@Url.Versioned("~/Areas/User/Scripts/Controllers/BusinessCustomersController.js")"></script>
  
    @RenderSection("scripts", required: false)

}

@*  FULL WIDTH LAYOUT   *@

<div class="body-cols body-cols-full">

    <div class="body-col body-col-full">
        <!-- MAIN COLUMN -->
        @RenderBody()
        @RenderSection("body", required: false)
    </div>


</div>