@{
Layout = "~/Areas/User/Views/Shared/_MainBusinessLayoutApply.cshtml";
}

@section styles {    @RenderSection("styles", required: false) }
@section prescripts {    @RenderSection("prescripts", required: false) }
@section initscripts {
    @RenderSection("initscripts", required: false)
}
@section scripts {    @RenderSection("scripts", required: false) }


<div class="body-cols body-cols-wide">
    <div class="body-col body-col-left">
        <!-- LEFT COLUMN -->
        @RenderSection("left", required: false)
    </div>
    <div class="body-col body-col-main">
        <!-- MAIN COLUMN -->
        @RenderBody()
        @RenderSection("body", required: false)
    </div>
    <div class="body-col body-col-right">
        <!-- RIGHT COLUMN (ASIDE)-->
        @Html.Partial("_MainAsideBusinessPartial")
    </div>

</div>

