<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="fb:app_id" content="@System.Configuration.ConfigurationManager.AppSettings["FACEBOOK_APP_ID"]" />
    <meta property="og:type" content="@System.Configuration.ConfigurationManager.AppSettings["FACEBOOK_PUBLISH_REGIT_PHOTO_TYPE"]" />
    <meta property="og:title" content="Regit" /> 
    <title>Regit - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/futurify-icon")
    @Styles.Render("~/bundles/sweet-alert/css")
    @Styles.Render("~/regitCalendar/css")
    @Styles.Render("~/regitCampaign/css")

    @RenderSection("styles", required: false)
    <link href="~/Content/BlueContent/Themes/Default/Css/components.css" rel="stylesheet" />
</head>
<body>
    <div id="page_wrapper">
        <div id="header">
            @Html.Partial("_HeaderPartialCampaign")
        </div>
        <div id="content"  class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row row-custom">
                    <div class="col-md-3 container-left">
                        <div class="col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                            <div class="row img-home">
                                <div class="user-avatar">
                                    <img ng-src="{{currentUserProfile.PhotoUrl ? currentUserProfile.PhotoUrl : '/Areas/User/Content/Images/no-pic.png'}}" />
                                </div>
                            </div>
                            <div ng-controller="PostNewFeedController" class="row broadcast-post">
                                @Html.Partial("~/Areas/User/Views/User/_PostToAdvance.cshtml")
                                <div class="col-md-12">
                                    <textarea ng-model="NewPost.Message" cols="5" rows="5" class="form-control" placeholder="@GH.Lang.Regit.Type_your_message_here"></textarea>
                                </div>
                                <div class="col-md-12 broadcast-btn">
                                    <a ng-click="PostANewPost()" class="regit">BROADCAST! <i class="r-broadcast regit-color"></i></a>
                                    <a class="regit" style="padding-left: 10px"><i ng-click="postAdvance()" class="glyphicon glyphicon-camera" style="color: #929497"></i></a>
                                    <a class="left-menu-color pull-right dropdown-toggle" data-toggle="dropdown">Post to <span class="caret"></span></a>
                                    <ul class="dropdown-menu from-right" prevent-inside-click-close>
                                        <li>
                                            <div class="checkbox">
                                                <label class="checkbox-square"><input type="checkbox" ng-model="NewPost.IsPostGreenHouse" /><span></span> <span class="regit-color" style="font-size: 20px">regit</span></label>
                                            </div>
                                        </li>
                                        <li ng-if="linkedNetworks.Facebook">
                                            <div class="checkbox">
                                                <label class="checkbox-square"><input type="checkbox" ng-model="NewPost.IsPostFacebook" /><span></span> <span class="btn-facebook-color" style="font-size: 20px">facebook</span></label>
                                            </div>
                                        </li>
                                        <li ng-if="linkedNetworks.Twitter">
                                            <div class="checkbox">
                                                <label class="checkbox-square"><input type="checkbox" ng-model="NewPost.IsPostTwitter" /><span></span> <span class="regit-color" style="font-size: 20px">twitter</span></label>
                                            </div>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <div class="checkbox">
                                                <label>
                                                    <span ng-if="!NewPost.Privacy.Public" style="margin-right: 34px"></span>
                                                    <i ng-if="NewPost.Privacy.Public" class="r-checked regit-color-disable" style="padding-left: 5px; margin-right: 10px"></i>
                                                    <a class="r-public" style="color: #a8a9ae" ng-click="setPrivacy('public')"> Public</a>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label>
                                                    <span ng-if="!NewPost.Privacy.Friends" style="margin-right: 34px"></span>
                                                    <i ng-if="NewPost.Privacy.Friends" class="r-checked regit-color-disable" style="padding-left: 5px; margin-right: 10px"></i>
                                                    <a class="r-friends" style="color: #a8a9ae" ng-click="setPrivacy('friends')"> Friends</a>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label>
                                                    <span ng-if="!NewPost.Privacy.Private" style="margin-right: 34px"></span>
                                                    <i ng-if="NewPost.Privacy.Private" class="r-checked regit-color-disable" style="padding-left: 5px; margin-right: 10px"></i>
                                                    <a class="r-private" style="color: #a8a9ae" ng-click="setPrivacy('private')"> Private</a>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 left-menu-btn">
                                    <a>@GH.Lang.Regit.EDIT_PROFILE</a>
                                </div>
                                <div class="col-md-12 left-menu-btn">
                                    <a>@GH.Lang.Regit.NETWORK</a>
                                </div>
                                <div class="col-md-12 left-menu-btn">
                                    <a href="/activitylog/index">@GH.Lang.Regit.ACTIVITY_LOG</a>
                                </div>
                                <div class="col-md-12 left-menu-btn">
                                    <a>@GH.Lang.Regit.MESSAGING</a>
                                </div>
                                <!-- Notification (Futurify)
                                <div class="col-md-12 left-menu-btn notification-summary" ng-controller="NotificationSummaryController">
                                    <a popover-placement="right-top" ng-click="getNotifications()" popover-trigger="outsideClick" uib-popover-template="'notificationSummaryPopover.html'">
                                        <span ng-class="{'regit-color': getNumberOfUnreadNotifications() > 0}">NOTIFICATION</span>
                                        <span class="count-unread-messages" ng-if="getNumberOfUnreadNotifications() > 0">{{getNumberOfUnreadNotifications()}}</span>
                                    </a>
                                </div>
                                -->
                                <!--START BlueCode - Notification-->

                                <div class="col-md-12 left-menu-btn" ng-controller="NotificationController2">
                                    <a href="#" id="sidebar-notifications" uib-popover-template="'popoverNotifications.html'"
                                       popover-title="Notifications" popover-placement="right-bottom" popover-append-to-body="true" popover-trigger="outsideClick">
                                        NOTIFICATIONS <span ng-hide="CountNewNotifycation==0" class="badge">{{CountNewNotifycation}}</span>
                                    </a>
                                </div>

                                <script type="text/ng-template" id="popoverNotifications.html">
                                    <div class="droppane">
                                        <form class="form-horizontal form-notifications" ng-controller="NotificationListController2">
                                            <div class="notifications-grid">
                                                <!--<header>
                                                    <a href="#" id="btn-notifications-mark-all-read">Mark All as Read</a>
                                                    <a href="#" id="btn-notifications-settings">Settings</a>
                                                </header>-->
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr ng-repeat="notif in ListNotifycation">
                                                            <td class="notifications-avatar"><img src="http://placehold.it/40x40"></td>
                                                            <td class="notifications-details">
                                                                <div class="notifications-desc"><span style="font-weight:bold">{{notif.FromUserDisplayName}}  </span>{{notif.Title}}</div>
                                                                <div class="notifications-date">{{notif.DateTime}}</div>
                                                                <div ng-hide="!(notif.Type=='Delegation Request')" class="notifications-actions">
                                                                    <a href="#" ng-click="ViewPopup((notif.PreserveBag+''))">View</a>
                                                                </div>
                                                                <div ng-hide="!(notif.Type=='Notify Missing Information Vault For Registration')" class="notifications-actions">
                                                                    <a href="#" ng-click="ViewReistrationForm(notif.PreserveBag)">View</a>
                                                                </div>
                                                                <div ng-hide="!(notif.Type=='Invite Friend')" class="notifications-actions">
                                                                    <a href="#">View</a>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="notifications-footer">
                                                    <a ng-click="showmore()" href="/notification">See More &raquo;</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </script>

                                <script type="text/ng-template" id="modal-delegate-view.html">
                                    <form class="form-horizontal form-delegate">
                                        <div class="modal-container">

                                            <h3 class="">View Delegation</h3>

                                            <div class="form-group form-row">
                                                <div class="col-sm-5"> <label>Delegator</label></div>
                                                <div class="col-sm-7">
                                                    <a class="delegate-avatar" href="#"><img src="http://placehold.it/40x40"></a> <a href="#">{{delegation.FromUserDisplayName}}</a>
                                                </div>
                                            </div>
                                            <div class="form-group form-row">
                                                <div class="col-sm-5"> <label>Role</label></div>
                                                <div class="col-sm-7 field-value">{{delegation.DelegationRole}}</div>
                                            </div>
                                            <div class="form-group form-row">
                                                <div class="col-sm-5"><label>Status</label></div>
                                                <div class="col-sm-7 field-value">{{delegation.Status}}</div>
                                            </div>
                                            <div class="form-group form-row">
                                                <div class="col-sm-5"><label>Effective Date</label></div>
                                                <div class="col-sm-7 field-value">{{delegation.EffectiveDate}}</div>
                                            </div>
                                            <div class="form-group form-row">
                                                <div class="col-sm-5"><label>End Date</label></div>
                                                <div class="col-sm-7 field-value">{{delegation.ExpiredDate}} </div>
                                            </div>
                                            <div class="form-group form-row">
                                                <div class="col-sm-5"><label>Comment</label></div>
                                                <div class="col-sm-7 field-value">{{delegation.Message}}</div>
                                            </div>
                                            <div class="form-group form-row">
                                                <div class="col-sm-3">
                                                    <label></label>
                                                </div>
                                                <div ng-hide="!(delegation.Status=='Pending')" class="col-sm-9">
                                                    <input ng-model="TermsConditions" id="option-agreed" type="checkbox" value="agreed">
                                                    <label for="option-agreed">I understand the risks of delegation and agree to the <a href="#"> Terms &amp; Conditions. </a> </label>
                                                </div>

                                            </div>

                                            <div style="padding-top:20px">
                                                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                                                    <div ng-bind-html="messageBox"></div>
                                                    <uib-alert>
                                            </div>

                                        </div>

                                        <div class="button-group">
                                            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                                            <button type="button" class="btn btn-primary" ng-hide="!(delegation.Status=='Pending')" ng-click="acceptdelegation()">Accept Delegation</button>
                                            <button type="button" class="btn btn-primary" ng-hide="!(delegation.Status=='Pending')" ng-click="denieddelegation()">Deny Delegation</button>
                                        </div>

                                    </form>
                                </script>
                                <div class="col-md-12 left-menu-btn notification-summary" ng-controller="NotificationSummaryController">
                                    <a popover-placement="right-top" ng-click="getNotifications()" popover-trigger="outsideClick" uib-popover-template="'notificationSummaryPopover.html'"><span ng-class="{'regit-color': getNumberOfUnreadNotifications() > 0}">@GH.Lang.Regit.NOTIFICATIONS</span> <span class="count-unread-messages" ng-if="getNumberOfUnreadNotifications() > 0">{{getNumberOfUnreadNotifications()}}</span></a>
                                </div>
                                <div class="col-md-12 r-1-5x">
                                    <a class="r-checked-cricle regit-color"></a>
                                    <a class="r-temp-cricle regit-color"></a>
                                    <a class="r-share-cricle regit-color"></a>
                                    <a class="r-edit-cricle regit-color"></a>
                                    <a class="r-add-network-cricle regit-color"></a>
                                    <a class="r-regit-logo-cricle regit-color"></a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 container-main">
                        <div class="row" ng-controller="SocialPostsFilterController">
                            <div class="col-xs-12 col-sm-9 col-md-10 social-post-search-wrapper">
                                <input type="text" class="form-control" ng-model="filters.Keyword" include-shift-key placeholder="Search" ng-enter="search()" />
                                <i class="fa fa-search search-icon" ng-click="search()"></i>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="social-post-filters dropdown">
                                    <a class="social-post-filters-toggle" data-toggle="dropdown">
                                        Filter
                                        <span class="icon-bars-wrapper pull-right">
                                            <span class="icon-bars">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" prevent-inside-click-close>
                                        <li class="dropdown-header close-on-click">Filter your search <i class="fa fa-chevron-up"></i></li>
                                        <li><input ng-model="filters.Regit" type="checkbox" /> Regit</li>
                                        <li><input ng-model="filters.Facebook" type="checkbox" /> Facebook</li>
                                        <li><input ng-model="filters.Twitter" type="checkbox" /> Twitter</li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <div class="dropdown">
                                                <a data-toggle="dropdown">{{filters.Privacy.Display}} <span class="dropdown-chervon"></span></a>
                                                <ul class="dropdown-menu select-close-dropdown">
                                                    <li ng-click="selectPrivacy(privacy)" ng-repeat="privacy in privacies" ng-class="{'selected': privacy == filters.Privacy}">{{privacy.Display}}</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown">
                                                <a data-toggle="dropdown">{{filters.DateRange.Display}} <span class="dropdown-chervon"></span></a>
                                                <ul class="dropdown-menu select-close-dropdown">
                                                    <li ng-click="selectDateRange(dateRange)" ng-repeat="dateRange in dateRanges" ng-class="{'selected': filters.DateRange == dateRange}">{{dateRange.Display}}</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @RenderBody()
                    </div>

                    <div class="col-md-3 container-right">

                      
                        <div class="mini-calendar">
                        </div>
                        <!--CHAT-->
                        <div ng-if="false" class="msg-container" ng-controller="MsgCtrl">
                            <div id="window-msglist" class="window msg-list" wid="msg-list" type="tabs">
                                <pane heading="Friends">
                                    <msg-list network="friends"></msg-list>
                                </pane>
                                <pane heading="Business">No business</pane>
                            </div>
                        </div>

                        <!--
                        <div class="events">
                            <h3>EVENTS</h3>
                            <ul class="list-group event-list">
                                <li class="list-group-item hot">
                                    1 winner announced <span class="label label-danger">1 minutes ago</span>
                                </li>
                                <li class="list-group-item">
                                    Kickstart Your Business <span class="label label-warning">in 24 hours</span>
                                </li>
                                <li class="list-group-item">
                                    Launched for Ramen <span class="label label-info">in 2 days</span>
                                </li>
                                <li class="list-group-item">
                                    Doctors visit <span class="label label-normal">in 5 days</span>
                                </li>
                            </ul>
                        </div>
                        <div class="reminders">
                            <h3>REMINDERS</h3>
                            <ul class="list-group network-list">
                                <li class="list-group-item hot">
                                    New<> messages <span class="badge">5</span>
                                </li>
                                <li class="list-group-item">
                                    Registrations pending <span class="badge">10</span>
                                </li>
                                <li class="list-group-item">
                                    New Event
                                </li>
                                <li class="list-group-item">
                                    Survey from Business A
                                </li>
                            </ul>
                        </div>
                        -->
                        @*<div class="col-md-10 col-sm-12 col-xs-12">
                                <div class="row">
                                    <img src="/Content/Images/calendar.JPG" style="width: 100%" />
                                </div>
                            </div>*@
                    </div>
                </div>
            }
            else
            {
                @RenderBody()
            }
        </div>
    </div>
   
    
     <div id="footer">
        @Html.Partial("_FooterPartial")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/user-service")
    @Scripts.Render("~/bundles/user-dashboard-service")
    @Scripts.Render("~/bundles/user-activity-log-service")
    @Scripts.Render("~/bundles/SMSauthencation")

    @Scripts.Render("~/Blue/highcharts")
    @Scripts.Render("~/bundles/sweet-alert")
    @Scripts.Render("~/bundles/AlertServices")
    @Scripts.Render("~/bundles/CountryCityService")
    @Scripts.Render("~/bundles/CommentService")
    @Scripts.Render("~/bundles/draganddrop")
    @Scripts.Render("~/bundles/comment")
    <script src="~/Areas/Realtime/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>
<!--SignalR Event Aggregator-->
    @Scripts.Render("~/eventAggregation/events")
    @Scripts.Render("~/scripts/jquery.signalR.eventAggregator-1.5.155.1.js")
    @Scripts.Render("~/scripts/jquery.signalR.eventAggregator.angular-1.4.143.0.js")
<!--End Event Agreegator-->


<script src="~/Areas/User/Scripts/RegitApp.js"></script>
<script src="~/Areas/User/Scripts/Services/NotificationService.js"></script>

@RenderSection("scripts", required: false)
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/user-post-new-feed")
        <script src="~/Areas/User/Scripts/Controllers/social-posts-filter-ctrl.js"></script>
        <script src="~/Areas/User/Scripts/Controllers/search-result-ctrl.js"></script>
        <script src="~/Areas/User/Scripts/Controllers/user-layout-ctrl.js"></script>
        <script src="~/Areas/User/Scripts/Controllers/notification-ctrl.js"></script>


    <!--CHAT-->
        <!--<script src="~/Areas/Realtime/Scripts/jquery.signalR-2.1.0.min.js"></script>-->
        @*<script src="~/Areas/Realtime/Scripts/jquery.signalR-2.2.1.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="~/Areas/Realtime/Scripts/chat.js"></script>*@

        <script src="~/Areas/Realtime/Scripts/angular-momentjs.js"></script>
       //<script src="~/Areas/Realtime/Scripts/regit.ui.js"></script>
        <script src="~/Areas/Realtime/Scripts/windows.js"></script>
        <script src="~/Areas/Realtime/Scripts/msg.js"></script>
        <script src="~/Areas/Realtime/Scripts/msg-ctrl.js"></script>
    }
    @Html.Partial("_GoogleAnalyticsScript")
</body>
</html>
