@{

ViewBag.Layout = "signup";
}

<!DOCTYPE html>
<html ng-app="regitSignup" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Regit">
    <meta property="og:title" content="Regit"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <title>Regit - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css/main")
    @Styles.Render("~/bundles/css/phone-input")
    @Styles.Render("~/bundles/css/public")

    @RenderSection("styles", required: false)

    <link rel="stylesheet" href="@Url.Versioned("~/Areas/Beta/css/responsive.css")">
</head>
<body class="regit-public @ViewBag.BodyClass">
@Html.Partial("_PublicHeaderPartial")
<div class="main-body">
    @RenderBody()
</div>
@Html.Partial("_PublicFooterPartial")

@Scripts.Render("~/bundles/js/vendor")
@Scripts.Render("~/bundles/js/phone-input")
<script src="~/Content/scripts/spin.min.js"></script>   

@RenderSection("initscripts", required: false)



@Scripts.Render("~/bundles/js/main")

@Scripts.Render("~/bundles/js/greenhouse")

<script src="@Url.Versioned("~/Areas/Beta/js/regitSignup.js")"></script>

@*@Scripts.Render("~/bundles/js/public-vendor")*@
@Scripts.Render("~/bundles/js/public")


@Scripts.Render("~/bundles/login-ctrl")
<script src="@Url.Versioned("~/Areas/User/Scripts/Controllers/SignUpCtrl.js")"></script>

<script src="@Url.Versioned("~/Scripts/regit-responsive.js")"></script>

<script src="~/Areas/regitUI/js/modules/campaigns.js"></script>

@RenderSection("scripts", required: false)

@Html.Partial("_GoogleAnalyticsScript")

</body>
</html>