@{
    ViewBag.Title = "Interaction Analytics";
    Layout = "~/Areas/User/Views/Shared/_LayoutDefaultBusinessApply.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Versioned("~/Areas/Beta/css/analytics.css")">
}

@section scripts {
    @Scripts.Render("~/bundles/BusinessUserSystem")
    @Scripts.Render("~/bundles/CampaignService")

    <script src="~/Scripts/ChartJs/Chart.min.js"></script>
    <script src="~/Scripts/ChartJs/angular-chart.min.js"></script>
    <script src="@Url.Versioned("~/Areas/regitUI/js/modules/analytics.js")"></script>
    <script src="@Url.Versioned("~/Areas/User/Scripts/Services/BusinessAccountService.js")"></script>
    <script src="@Url.Versioned("~/Areas/User/Scripts/Controllers/master-customer-list-ctrl.js")"></script>

}

<div class="module module-main module-business module-analytics">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/BusinessAccount">&laquo; Business Home</a></li>
        <li class="breadcrumb-item"><a href="/Campaign/ManagerCampaign">Interaction Module</a></li>
        <li class="breadcrumb-item active">Interaction Analytics</li>
    </ol>
    <form class="form-horizontal form-analytics" ng-controller="AnalyticsCtrl">
      
        <h1 ng-if="!master">Customers by Interaction</h1>
        <h1 ng-if="master">Master Customer List</h1>
        <div class="analytics" id="interaction-analytics">
            <h3 ng-if="!master">{{interaction.name}} - Analytics</h3>
            <button type="button" class="btn-analytics-export btn btn-primary" ng-click="exportData()">
                Export Report
                (PDF)
            </button>
            <div class="analytics-header" ng-if="!exportingData">
                <rgu-control type="radio" options="['Current Week','Current Month','All User']" ng-model="view.selectedView"
                             on-change="updateChart();updatePaging()"></rgu-control>
                <rgu-checkbox label="Show unknown gender" ng-model="view.showUnknownGender"
                              on-change="updateChart();updatePaging()"></rgu-checkbox>
            </div>
            <div class="analytics-charts" id="interaction-analytics-charts">
                <div class="analytics-section" id="section-participators">

                    <h4>General</h4>
                    <div class="analytics-message" ng-if="!dataLoaded">Loading data...</div>
                    <div class="analytics-message" ng-if="dataLoaded && !users">No data</div>
                    <div class="analytics-chart" id="analytics-participators" ng-if="users">
                        <highchart id="chart-participators" config="chartConfig"></highchart>
                    </div>

                </div>
                <div class="analytics-section" id="section-ages">
                    <h4>Demographics</h4>
                    <div class="analytics-message" ng-if="!dataLoaded">Loading data...</div>
                    <div class="analytics-message" ng-if="dataLoaded && !users">No data</div>
                    <div class="analytics-chart" id="analytics-ages" ng-if="users">
                        <highchart id="chart-ages" config="agesChartConfig"></highchart>
                    </div>
                </div>
            </div>
            <div class="analytics-table-container" ng-if="users">
                <div class="analytics-table">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="80%" />
                            <col width="20%" />
                        </colgroup>
                        <tr>
                            <th>Country</th>
                            <th>Participants</th>
                        </tr>
                        <tr ng-repeat="(country,countryObj) in countries" ng-if="countryObj.count">
                            <td><button type="button" ng-click="showCitiesFromCountry(country)" style="padding:2px 10px">{{country}}</button></td>
                            <td>{{countryObj.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="analytics-table">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="80%" />
                            <col width="20%" />
                        </colgroup>
                        <tr>
                            <th>City</th>
                            <th>Participants</th>
                        </tr>
                        <tr ng-repeat="(city,count) in currentCities" ng-if="count >= 0">
                            <td ng-if="city">{{city}}</td>
                            <td ng-if="!city">Unknown</td>
                            <td>{{count}}</td>
                        </tr>
                    </table>
                </div>
            </div>
           
            <div class="analytics-data" id="interaction-analytics-data" ng-if="users">
               
                <div class="analytics-section clearfix" ng-if="!master">
                    <h4>Participant Submitted Data</h4>

                    <a  href="#"
                       class="btn btn-primary btn-download-excel"
                      ng-click="exportexcelData()">
                        Export
                        Data (Excel)
                    </a>

                    <div class="analytics-search">
                        <input class="analytics-search-input" ng-model="search.query"
                               ng-change="onSearch()" placeholder="Search data">
                    </div>
                    <div class="analytics-grid-container">
                        <table id="interaction-analytics-preview-grid" class="analytics-grid-preview table table-striped">
   
                            <tr>
                                <th ng-repeat="field in campaignFields">{{field.displayName || field.label}}</th>
                                <th>Registered</th>
                            </tr>
                            <tr ng-repeat="user in getCurrentItems() track by $index">
                                <td ng-repeat="field in user.fields">

                                    <div ng-if="field.type=='doc'">
                                        <div ng-repeat="doc in field.listdocs">
                                        <a href="{{doc.path}}">{{doc.name}}</a>
                                        <br/>
                                        </div>
                                    </div>
                                    <span ng-if="field.type!='doc'"
                                          ng-bind-html="field.value | gridValue | searchHighlight:search.query"></span>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <ul uib-pagination class="analytics-pagination" boundary-links="true" total-items="paging.totalItems"
                        ng-model="paging.currentPage" ng-change="onPageChanged()"
                        items-per-page="paging.pageSize"
                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></ul>
                
                    <table class="analytics-grid table table-striped" id="interaction-submitted-analytics-grid">
                        <tr>
                            <th ng-repeat="field in participators[0].fields">{{field.label}}</th>
                        </tr>
                        <tr ng-repeat="user in participators track by $index">
                            <!--<td>{{user.userid}}</td>-->
                            <td ng-repeat="field in user.fields">
                            
                                <span ng-if="field.type!='doc'">{{field.value | gridValue}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>

</div>
