<div ng-if="currentUserProfile.AccountType=='Business'" ng-controller="ManageOneRegitAccountController" collapse-base-on-route="/manage-regit-one-account-settings" class="collapse-item">
    <div class="collapse-header">
        <a href="#/manage-regit-one-account-settings" class="regit-color" data-toggle="collapse" aria-expanded="false" data-target="#manageRegitAccCollapseContent">@GH.Lang.Regit.Manage_Regit_One_Account_Settings</a>
    </div>
    <div class="collapse-content">
        <div class="collapse" id="manageRegitAccCollapseContent">
            <div class="row field">
                <div class="col-md-8">
                    <span class="field-title">Facebook</span>
                </div>
                <div class="col-md-4 text-right">
                    <switcher ng-if="preloaded" ng-model="socialsLinked.Facebook" switcher-on-text="Yes" switcher-off-text="No" on-changed="processLinking('Facebook')"></switcher>
                </div>
            </div>
            <div ng-if="socialsLinked.Facebook" class="row field">
                <div class="col-md-8 col-md-offset-2">
                    <hr />
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <span class="field-title">@GH.Lang.Regit.Page</span>
                </div>
                <div class="col-md-4">
                    <span class="field-title">{{connectedPage.PageName}}</span>
                </div>
                <div class="col-md-2 text-right">
                    <switcher ng-if="preloaded" ng-model="socialsLinked.FacebookPage" switcher-on-text="Yes" switcher-off-text="No" on-changed="processLinkFacebookPage()"></switcher>
                </div>
            </div>
            <hr />
            <div class="row field">
                <div class="col-md-8">
                    <span class="field-title">Twitter</span>
                </div>
                <div class="col-md-4 text-right">
                    <switcher ng-if="preloaded" ng-model="socialsLinked.Twitter" switcher-on-text="Yes" switcher-off-text="No" on-changed="processLinking('Twitter')"></switcher>
                </div>
            </div>
        </div>
    </div>
    <div bs-modal bs-modal-on-hidden="onLinkFacebookPageModalHidden()" bs-modal-show="configs.ShowLinkFacebookPageModal" class="modal fade link-facebook-page-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4>@GH.Lang.Regit.CONNECT_TO_A_FACEBOOK_PAGE</h4>
                </div>
                <div class="modal-body">
                    <div class="fb-pages">
                        <div class="fb-page" ng-repeat="fbPage in facebookPages">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="connectFacebook.SelectedPage" ng-value="fbPage"> {{fbPage.name}} | {{fbPage.category}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-white" ng-click="configs.ShowLinkFacebookPageModal = false">@GH.Lang.Regit.Cancel</a>
                    <a class="btn btn-blue" ng-click="connectToPage()">@GH.Lang.Regit.Connect</a>
                </div>
            </div>
        </div>
    </div>
</div>