@using GH.Lang
@model GH.Core.Models.DisabledUser
@{
    ViewBag.Title = "Disable User";
    Layout = "~/Areas/User/Views/Shared/_PublicLayout.cshtml";
}
@section styles{
    @Styles.Render("~/User/login")
}
@section scripts {
    @Scripts.Render("~/bundles/login-ctrl")
}

    <center>
        <div class="about-section about-data">
            <div class="about-content">
                <h3>
                    <span>@Regit.The_User_Was_Disabled</span>
                    <span>
                        @*@Html.Raw(Regit.Until_Title + Model.Until.Date.ToString("d"))*@
      
                    </span> @{
                        if (!string.IsNullOrEmpty(Model.Reason))
                        {
                            <span>
                                @Html.Raw(Regit.Reason_Title + Model.Reason)
                            </span>
                        }
                    }
                </h3>
                <h3>
                    @Html.Raw(Regit.Please_Contact_Admin)
                </h3>
            </div>
        </div>
    </center>

